[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "~=0.27.0"
aiogram = "~=2.25.1"
environs = "~=9.5.0"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.11"
